{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
        <h1>Add New Team </h1>

        <form action="{{url_for('newTeam', league_id=league_id )}}" method = 'POST'>

        <p>Name:</p>

        <input type='text' size='30' maxlength="50" name='name' placeholder="Name of the Club">

        </br>
        </br>

        <p>Founded:</p>

        <input type='text' size='30' name='founded' placeholder="Year" maxlength="4">

        </br>
        </br>

        <p>About:</p>

        <input type='text' size='30' name='description' placeholder="Manager, Stadium, Location" maxlength="250" rows="3">

        <input type='submit' value='Create'>

        <a href="{{url_for('soccerClub', league_id = league_id ) }}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}